<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>{% block title %} 音乐推荐平台 {% endblock %}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    
</head>

<body>
	<div class="layout pure-g">
		<div class="sidebar pure-u-1 pure-u-md-1-3">
			<div id="container">
				<label class="to-back-label" for="to-back"><i class="fa fa-bars fa-lg"></i></label>
				<input type="checkbox" id="to-back">
				
				<canvas id="progress" width="320" height="320"></canvas>
				<div id="player">
					<audio id="audio" loop="loop">
						<source src="" type="audio/mpeg" codecs="mp3"></source>		
					</audio>
					<img id="image" src=""><!-- album cover -->
					<label class="to-bottom-label" for="to-bottom"><i class="fa fa-caret-down fa-lg"></i></label>
					<input type="checkbox" id="to-bottom">
					<div class="cover">
						<div class="controls">
							<button id="retweet" title="Retweet" onclick="toggleRetweet()"><i class="fa fa-retweet fa-lg"></i></button>
							<button id="backward" title="Backward"><i class="fa fa-backward fa-2x"></i></button>
							<button id="play-pause" title="Play" onclick="togglePlayPause()"><i class="fa fa-play fa-3x"></i></button>
							<button id="forward" title="Forward"><i class="fa fa-forward fa-2x"></i></button>
							<button id="retweet" title="random"><i class="fa fa-random fa-lg"></i></button>
							<input id="volume" name="volume" min="0" max="1" step="0.1" type="range" onchange="setVolume()" />
						</div><!-- #controls -->
						<div class="info">
							<p id="song" class="song"><a href="#">SongName</a></p>
							<p id="author" class="author"><a href="#">author</a></p>
						</div><!-- #info -->
						<div class="bottom_label">
							
						</div><!-- #bottom -->
					</div><!-- #cover -->
				</div><!-- #player -->
				<div id="flip-back">
					<ul class="playlist">
						<h3>Play List</h3>
						<li><a href="#" style="color:#26C5CB;"><i class="fa fa-play" style="margin-right:4px;"></i> 3. Abitude</a></li>
						<li><a href="#">4. Mon Rap Hashdivy Et Ambdi "Nocredi"</a></li>
						
					</ul>
				</div><!-- #flip-back -->
			</div><!-- #container -->
			
			<div id="lyricWrapper">
				<div id="lyricContainer">
					
				</div>
			</div>
			
		</div>
		<div class="content pure-u-1 pure-u-md-1-3">
			{% block content %}
            {% endblock %}
		</div>
		<div class="commend pure-u-1 pure-u-md-1-3">
			{% block commend %}
            {% endblock %}
		</div>
	<script type="text/javascript" src="{% static "js/index.js" %}"></script>
	</div>
</body>