{% extends "base.html" %}
{% block content %}

<div class="posts">
	<div class="postlist">
		<div class="post-top pure-g">
			<a href="#">
				<h3 class="post-top-font pure-u-1-4">-歌曲标题-</h3>
				<h3 class="post-top-font pure-u-1-4">歌手</h3>
				<h3 class="post-top-font pure-u-1-4">专辑</h3>
			</a>
		</div>

		<ol class="rounded-list">
			{% for post in post_list %}
				<li class="pure-g">
					<a onclick="choiceSong( '{{post.url}}', '{{post.image}}','{{post.title}}','{{post.singer}}','{{post.lyric}}')" href="javascript:void(0);">
						<h3 class="pure-u-1-4">{{post.title}}</h3>
						<h3 class="pure-u-1-4">{{post.singer}}</h3>
						<h3 class="pure-u-1-4">{{post.collection}}</h3>
					</a>
				</li>
			{% endfor %}
		</ol>
	</div>
	<div class="paginat">
		<ul class="pure-paginator">
			<li><a class="pure-button prev" href="?curPage={{curPage}}&allPage={{allPage}}&pageType=pageUp">&#171;</a></li>

			{% for num in listnum %}
				{% ifnotequal curPage num %}
					<li><a class="pure-button" href="?curPage={{curPage}}&allPage={{allPage}}&pageType={{num}}">{{num}}</a></li>
				{% else %}
					<li><a class="pure-button pure-button-active" href="?curPage={{curPage}}&allPage={{allPage}}&pageType={{num}}">{{num}}</a></li>
				{% endifnotequal %}
			{% endfor %}
			
			<li><a class="pure-button next" href="?curPage={{curPage}}&allPage={{allPage}}&pageType=pageDown">&#187;</a></li>
		</ul>
	</div>
</div>
{% endblock %}